@import '~node_modules/modern-normalize/modern-normalize.css';
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 1.5;
    color: #212121;
    font-family: sans-serif;
}
